.largeSwitch {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
}

.largeSwitch:global(.ant-switch:hover:not(.ant-switch-disabled)) {
  background-color: #cecece;
}

.largeSwitch:global(.ant-switch-checked) {
  background-color: #fad074;
}

.largeSwitch:global(.ant-switch-checked:hover:not(.ant-switch-disabled)) {
  background-color: #fac656;
}

.largeSwitch :global(.ant-switch-handle) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.largeSwitch:global(.ant-switch-checked) :global(.ant-switch-handle) {
  left: calc(100% - 38px);
}

/* 텍스트 스타일 */
.largeSwitch :global(.ant-switch-inner-checked),
.largeSwitch :global(.ant-switch-inner-unchecked) {
  color: black !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
}

.largeSwitch :global(.ant-switch-handle::before) {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Switch의 내부 요소 위치 조정 */
.largeSwitch:global(.ant-switch-checked) :global(.ant-switch-inner) {
}

.largeSwitch:not(:global(.ant-switch-checked)) :global(.ant-switch-inner) {
}

.largeSwitch:global(.ant-switch) :global(.ant-switch-inner) {
  margin-top: 8px;

  align-items: center;
  justify-content: center;
  height: 100%;
}

/* 체크되지 않은 상태의 텍스트 위치 조정 */
.largeSwitch:not(:global(.ant-switch-checked)) :global(.ant-switch-inner-unchecked) {
}

/* 체크된 상태의 텍스트 위치 조정 */
.largeSwitch:global(.ant-switch-checked) :global(.ant-switch-inner-checked) {
  color: white;
}
