.bgGradient {
  background-color: #183f3e;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0 24px;
  position: relative;
}

.largeSwitch {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
}

.largeSwitch:global(.ant-switch:hover:not(.ant-switch-disabled)) {
  background-color: #cecece;
}

.largeSwitch:global(.ant-switch-checked) {
  background: linear-gradient(135deg, #ffe7b3 0%, #f6ed5d 100%);
}

.largeSwitch:global(.ant-switch-checked:hover:not(.ant-switch-disabled)) {
  background: linear-gradient(135deg, #ffe7b3 0%, #f6ed5d 100%);
}

.largeSwitch :global(.ant-switch-handle) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.largeSwitch:global(.ant-switch-checked) :global(.ant-switch-handle) {
  left: calc(100% - 38px);
}

/* 텍스트 스타일 */
.largeSwitch :global(.ant-switch-inner-checked),
.largeSwitch :global(.ant-switch-inner-unchecked) {
  color: black !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
}

.largeSwitch :global(.ant-switch-handle::before) {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Switch의 내부 요소 위치 조정 */
.largeSwitch:global(.ant-switch) :global(.ant-switch-inner) {
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* 체크된 상태의 텍스트 위치 조정 */
.largeSwitch:global(.ant-switch-checked) :global(.ant-switch-inner-checked) {
  color: white;
}

/* 추가: 그라데이션 트랜지션 효과 */
.largeSwitch:global(.ant-switch) {
  transition: background 0.3s ease;
}
