.eachOrderItem {
  color: rgb(128, 67, 67);
  font-weight: 900;
  font-size: large;
}

.eachOrderItem2 {
  color: rgb(234, 24, 24);
  font-weight: 900;
  font-size: large;
}

.events li {
  list-style: none;
  font-size: 100px;
}

